{:wrepl/repl #ig/ref :wrepl.rebel-readline/repl 
 :wrepl/init [#ig/ref :wrepl.relative-clj-http/init]
 :wrepl/print #ig/ref :wrepl.puget/print

 :wrepl.rebel-readline/repl {:prompt #ig/ref :wrepl.relative-clj-http/prompt}
 :wrepl.relative-clj-http/init {}
 :wrepl.puget/print {:seq-limit 20 
                     :color-scheme {:delimiter [:red]
                                    :string nil
                                    :character nil
                                    :keyword [:yellow]
                                    :symbol [:magenta]
                                    :function-symbol [:bold :magenta]
                                    :class-delimiter [:magenta]
                                    :class-name [:bold :magenta]}}
 :wrepl.relative-clj-http/prompt {}}
